*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  hsl(233, 47%, 7%);
    height: 100vh;
    /* position: relative; */
}
.main-container {
    position:relative;
    padding: auto;
    margin: auto;
    height: 850px;
    width: 375px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;  
    top: 15px;
  
}

.top{
    position: relative;

}

.img{ 
    height: 300px;
    width: 375px;
    position: relative;
    border-radius: 10px 10px 0px 0px;
}
.overlay{
    display: flex;
    position: absolute;
    color: blueviolet;
    height: 300px;
    width: 375px;
    z-index: 999;
}

.heading{
    color: white;
    font-family: inter;
    text-align: center;
    margin-top: 50px;
    font-size: 25px;

}
.insights{
    color:hsl(277, 64%, 61%);
}
.pera{
    color: white;
    font-family: inter;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 200;
    line-height: 25px;

}

.foot {display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 35px; 
    color: white;
    font-family: inter;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    line-height: 30px;
    
}
.foot p{
    color: rgb(207, 192, 252);
    font-family: inter;
    text-align: center;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 400;
}